<div class="aplayer" data-theme="<%= item.color %>"
  data-mode="<%= item.mode %>"
  data-server="<%= item.server %>"
  data-type="<%= item.type %>"
  data-id="<%= item.id %>"
  data-volume="<%= item.volume %>">
</div>
