<!-- 显示推荐文章和评论 -->
<% if (page && ((theme.recommended_posts && theme.recommended_posts.autoDisplay == false && page.recommended_posts != false) || (page.comments && (config.disqus_shortname || config.livere_shortname || config.valine)) )) { %>
    <article class="post white-box comments">
        <section class="article typo">

            <% if (theme.recommended_posts && theme.recommended_posts.autoDisplay == false && page.recommended_posts != false) { %>
                <%- partial('recommended_posts', {page: page, site: site}) %>
            <% } %>

            <% if (page.comments) { %>

                <h4><i class="fas fa-comments fa-fw" aria-hidden="true"></i>&nbsp;评论</h4>
                <% if (config.disqus_shortname) { %>
                    <section id="comments">
                        <div id="disqus_thread">
                            ⚠️  无法加载评论系统，请确保您的网络能够正常访问 <a href="https://disqus.com">Disqus</a> 。
                        </div>
                    </section>
                <% } %>

                <% if (config.livere_uid){ %>
                    <section id="comments">
                        <div id="lv-container" data-id="city" data-uid="<%= config.livere_uid %>">
                            <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
                        </div>
                    </section>
                <% } %>

                <% if (config.valine){ %>
                    <% if (config.valine.enable && config.valine.app_id && config.valine.app_key){ %>
                        <div class="subtitle">
                          <h6><b>文明评论，请勿灌水。</b>为了便于区分和接收回复提醒，请您在留言时填写一下<b>昵称</b>和<b>邮箱</b>。</h6>
                        <div>
                        <section id="comments">
                            <div id="valine_container" class="valine_thread">
                                <i class="fas fa-spinner fa-spin fa-fw"></i>
                            </div>
                        </section>
                    <% } %>
                <% } %>
            <% } %>

        </section>
    </article>
<% } %>
<% if (page.comments) { %>
    <% if (config.disqus_shortname){ %>
        <script>
            var disqus_shortname = '<%= config.disqus_shortname %>';
            <% if (page.permalink){ %>
                var disqus_url = '<%= page.permalink %>';
            <% } %>
            (function(){
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments) { %>embed.js<% } else { %>count.js<% } %>';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
    <% } %>
    <% if (config.livere_uid){ %>
        <script type="text/javascript">
           (function(d, s) {
               var j, e = d.getElementsByTagName(s)[0];
               if (typeof LivereTower === 'function') { return; }
               j = d.createElement(s);
               j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
               j.async = true;
               e.parentNode.insertBefore(j, e);
           })(document, 'script');
        </script>
    <% } %>
    <% if (config.valine){ %>
        <% if (config.valine.enable && config.valine.app_id && config.valine.app_key){ %>
          <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
          <% if (config.import && config.import.js == true) { %>
            <script src="https://cdn.jsdelivr.net/gh/xaoxuu/volantis@1.0/js/volantis.min.js"></script>
          <% } else { %>
            <%- js('js/volantis.js') %>
          <% } %>
            <script>
              console.log('valine');
            var GUEST_INFO = ['nick','mail','link'];
            var guest_info = '<%= config.valine.guest_info %>'.split(',').filter(function(item){
                return GUEST_INFO.indexOf(item) > -1
            });
            var notify = '<%= config.valine.notify %>' == true;
            var verify = '<%= config.valine.verify %>' == true;
            var valine = new Valine();
            valine.init({
                el: '#valine_container',
                notify: notify,
                verify: verify,
                guest_info: guest_info,
                appId: "<%= config.valine.app_id %>",
                appKey: "<%= config.valine.app_key %>",
                placeholder: "<%= config.valine.placeholder %>",
                pageSize:'<%= config.valine.pageSize %>',
                avatar:'<%= config.valine.avatar %>',
                lang:'<%= config.valine.lang %>',
                highlight:'<%= config.valine.highlight %>'
            })
            </script>
        <% } %>
    <% } %>
<% } %>
